
a:link, a:visited {
    background-color: darkseagreen;
    text-decoration: none;
    color: white;
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}


a:hover {
    background-color: transparent;
    text-decoration: none;
    color:dimgrey;
}



